<!-- layouts/_default/_markup/render-image.html -->
<a
  href="{{ .Destination | safeURL }}"
  data-lightbox="gallery"
  {{ with .Title }}data-title="{{ . | safeHTML }}"{{ end }}
>
  <img
    src="{{ .Destination | safeURL }}"
    {{ if .Text }}
      alt='{{ i18n "show_image" }} {{ .Text | safeHTML }}'
    {{ else if .Title }}
      alt='{{ i18n "show_image" }} {{ .Title | safeHTML }}'
    {{ else }}
      alt='{{ i18n "show_image" }}'
    {{ end }}
    {{ with .Title }}title="{{ . | safeHTML }}"{{ end }}
  />
</a>
