{{ define "title" }}{{ .Site.Title }}
{{ end }}
{{ define "main" }}
  <main id="main">
    <h1>{{ .Title }}</h1>
    {{ partial "disclosure.html" (dict "iconClass" "calendar-icon" "iconHref" "#calendar" "label" (i18n "date") "contentId" "js-expandable-date" "content" (.Params.reportDate | safeHTML)) }}
    {{ with .Params.reviewers }}
      {{ partial "disclosure.html" (dict "iconClass" "write-icon" "iconHref" "#write" "label" (i18n "reviewers") "content" (partial "reviewers.html" .)) }}
    {{ end }}
    {{ with .Params.materials }}
      {{ $materialsContent := "<ul>" }}
      {{ range $.Page.Params.materials }}
        {{ $materialsContent = print $materialsContent "<li>" (. | markdownify) "</li>" }}
      {{ end }}
      {{ $materialsContent = print $materialsContent "</ul>" }}
      {{ partial "disclosure.html" (dict "iconClass" "materials-icon" "iconHref" "#materials" "label" (i18n "materials") "contentId" "js-expandable-materials" "content" $materialsContent) }}
    {{ end }}
    {{ with .Params.equipment }}
      {{ $equipmentContent := "<ul>" }}
      {{ range $.Page.Params.equipment }}
        {{ $equipmentContent = print $equipmentContent "<li>" (. | markdownify) "</li>" }}
      {{ end }}
      {{ $equipmentContent = print $equipmentContent "</ul>" }}
      {{ partial "disclosure.html" (dict "iconClass" "devices-icon" "iconHref" "#devices" "label" (i18n "equipment") "contentId" "js-expandable-tools" "content" $equipmentContent) }}
    {{ end }}
    {{ with .Params.methodology }}
      {{ $methodologyContent := "" }}
      {{ $methodologyContent = print $.Page.Params.methodology | markdownify }}
      {{ partial "disclosure.html" (dict "iconClass" "info-icon" "iconHref" "#info" "label" (i18n "methodology") "content" $methodologyContent) }}
    {{ end }}
    {{ with .Params.summary }}
      <div class="h2-container">
        <h2 id="summary" tabindex="-1">{{ i18n "summary" }}</h2>
        <a
          href="#summary"
          aria-label="{{ i18n "this_section" }} ({{ i18n "summary" }})"
          >
          <svg
            aria-hidden="true"
            class="link-icon"
            viewBox="0 0 50 50"
            focusable="false"
          >
            <use xlink:href="#link"></use>
          </svg
        >
        </a>
      </div>
      <div class="text-container">
        {{ $.Page.Params.summary | markdownify }}
      </div>
    {{ end }}
    {{ with .Params.reCheck }}
      <div class="h2-container">
        <h2 id="reCheck" tabindex="-1">{{ i18n "re_check_summary" }}</h2>
        <a
          href="#reCheck"
          aria-label="{{ i18n "this_section" }} ({{ i18n "re_check_summary" }})"
          >
          <svg
            aria-hidden="true"
            class="link-icon"
            viewBox="0 0 50 50"
            focusable="false"
          >
            <use xlink:href="#link"></use>
          </svg
        >
        </a>
      </div>
      <div class="text-container">
        {{ $.Page.Params.reCheck | markdownify }}
      </div>
    {{ end }}

    <div class="h2-container">
      <h2 id="results" tabindex="-1">{{ i18n "results" }}</h2>
      <a
        href="#results"
        aria-label="{{ i18n "this_section" }} ({{ i18n "results" }})"
        >
        <svg
          aria-hidden="true"
          class="link-icon"
          viewBox="0 0 50 50"
          focusable="false"
        >
          <use xlink:href="#link"></use>
        </svg
      >
      </a>
    </div>

    <div class="results-container">
      <a href="{{ "compliance/" | relURL }}"
        >{{ i18n "show_summary_of_legal_compliance" }}</a
      >
    </div>

    <div id="summary-results-nav" class="patterns">
      {{ partial "problems-list.html" . }}
    </div>
    {{ $priorityContent := "<h4>" | safeHTML }}
    {{ $priorityContent = print $priorityContent (i18n "critical_priority") "</h4><p>" (i18n "critical_explanation") "</p>" | safeHTML }}
    {{ $priorityContent = print $priorityContent "<h4>" (i18n "high_priority") "</h4><p>" (i18n "high_explanation") "</p>" | safeHTML }}
    {{ $priorityContent = print $priorityContent "<h4>" (i18n "medium_priority") "</h4><p>" (i18n "medium_explanation") "</p>" | safeHTML }}
    {{ $priorityContent = print $priorityContent "<h4>" (i18n "low_priority") "</h4><p>" (i18n "low_explanation") "</p>" | safeHTML }}

    {{ partial "disclosure.html" (dict "iconClass" "priority-icon" "iconHref" "#priority" "label" (i18n "about_our_priority") "contentId" "js-expandable-priority" "content" $priorityContent) }}

    {{ .Content }}
  </main>
{{ end }}