{{ define "title" }}
  {{ .Site.Title }}
{{ end }}

{{ define "main" }}
<main id="main">
  <h1>{{ .Title }}</h1>
  <div class="expandable-section">
    <h2>
      <button aria-expanded="true" data-expands="js-expandable-date">
        <span>
          <span class="icon-background">
                <svg class="calendar-icon" aria-hidden="true" viewBox="0 0 24 24" focusable="false">
                  <use xlink:href="#calendar"></use>
                </svg>
              </span>
          <span class="expandable-label">{{ i18n "date" }}</span>
        </span>
        <svg class="expandable-icon" aria-hidden="true" focusable="false" viewBox="0 0 70.866142 70.866141">
          <g transform="translate(0 -981.5)">
            <rect style="stroke-width:0;fill:currentColor" ry="5" height="60" width="9.8985" y="987.36" x="30.051" class="up-strut" />
            <rect style="stroke-width:0;fill:currentColor" ry="5" height="10" width="60" y="1012.4" x="5"/>
          </g>
        </svg>
      </button>
    </h2>
    <div id="js-expandable-date">
        {{ .Params.reportDate }}
    </div>
  </div>
  {{ with .Params.reviewers }}
  <div class="expandable-section">
    <h2>
      <button aria-expanded="false" data-expands="js-expandable-reviewer">
        <span>
        <span class="icon-background">
                <svg class="write-icon" aria-hidden="true" viewBox="0 0 24 24" focusable="false">
                  <use xlink:href="#write"></use>
                </svg>
              </span>
        <span class="expandable-label">{{ i18n "reviewers" }}</span>
        </span>
        <svg class="expandable-icon" aria-hidden="true" focusable="false" viewBox="0 0 70.866142 70.866141">
          <g transform="translate(0 -981.5)">
            <rect style="stroke-width:0;fill:currentColor" ry="5" height="60" width="9.8985" y="987.36" x="30.051" class="up-strut" />
            <rect style="stroke-width:0;fill:currentColor" ry="5" height="10" width="60" y="1012.4" x="5"/>
          </g>
        </svg>
      </button>
    </h2>
    <div id="js-expandable-reviewer" hidden>
      {{ partial "reviewers.html" . }}
    </div>
  </div>
{{ end }}
  {{ with .Params.materials }}
    <div class="expandable-section">
      <h2>
        <button aria-expanded="false" data-expands="js-expandable-materials">
          <span>
            <span class="icon-background">
                <svg class="materials-icon" aria-hidden="true" viewBox="0 0 24 24" focusable="false">
                  <use xlink:href="#materials"></use>
                </svg>
              </span>
            <span class="expandable-label">{{ i18n "materials" }}</span>
          </span>
          <svg class="expandable-icon" aria-hidden="true" focusable="false" viewBox="0 0 70.866142 70.866141">
            <g transform="translate(0 -981.5)">
              <rect style="stroke-width:0;fill:currentColor" ry="5" height="60" width="9.8985" y="987.36" x="30.051" class="up-strut" />
              <rect style="stroke-width:0;fill:currentColor" ry="5" height="10" width="60" y="1012.4" x="5"/>
            </g>
          </svg>
        </button>
      </h2>
      <div id="js-expandable-materials" hidden>
        <ul class="materials">
          {{ range $.Page.Params.materials }}
          <li>{{ . | markdownify }}</li>
          {{ end }}
          </ul>
      </div>
    </div>
  {{ end }}
      {{ with .Params.equipment }}
      <div class="expandable-section">
        <h2>
          <button aria-expanded="false" data-expands="js-expandable-tools">
            <span>
              <span class="icon-background">
                <svg class="devices-icon" aria-hidden="true" viewBox="0 0 24 24" focusable="false">
                  <use xlink:href="#devices"></use>
                </svg>
              </span>
              <span class="expandable-label">{{ i18n "equipment" }}</span>
            </span>
            <svg class="expandable-icon" aria-hidden="true" focusable="false" viewBox="0 0 70.866142 70.866141">
              <g transform="translate(0 -981.5)">
                <rect style="stroke-width:0;fill:currentColor" ry="5" height="60" width="9.8985" y="987.36" x="30.051" class="up-strut" />
                <rect style="stroke-width:0;fill:currentColor" ry="5" height="10" width="60" y="1012.4" x="5"/>
              </g>
            </svg>
          </button>
        </h2>
        <div id="js-expandable-tools" hidden>
          <ul class="materials">
            {{ range $.Page.Params.equipment }}
            <li>{{ . | markdownify }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
        {{ end }}
  {{ with .Params.summary}}
  <div class="h2-container">
    <h2 id="summary" tabindex="-1">{{ i18n "summary" }}</h2><a href="#summary" aria-label='{{ i18n "this_section" }} ({{ i18n "summary" }})'><svg aria-hidden="true" class="link-icon" viewBox="0 0 50 50" focusable="false"> <use xlink:href="#link"></use> </svg></a>
  </div>
  <div class="text-container">
    {{ $.Page.Params.summary | markdownify}}
  </div>
  {{ end }}

  
  <div class="h2-container">
    <h2 id="results" tabindex="-1">{{ i18n "results" }}</h2><a href="#results" aria-label='{{ i18n "this_section" }} ({{ i18n "results" }})'><svg aria-hidden="true" class="link-icon" viewBox="0 0 50 50" focusable="false"> <use xlink:href="#link"></use> </svg></a>
  </div>

  <div class="results-container">
    <a href='{{ ref $.Page "wcag" }}'>{{ i18n "show_wcag_results" }}</a>
  </div>

  <div id="summary-results-nav" class="patterns">
    {{ partial "problems-list.html" . }}
  </div>

  {{ .Content }}
  <div class="fistbump"><img id="fistbump" src='{{ "images/Aceit2.png" | relURL }}' class="no-border" alt='{{ i18n "fist_bump_alt" }}'></div>
</main>
{{ end }}
