<!DOCTYPE html>
<html lang="{{ .Site.Params.languageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex">
    <link rel="preload" as="image" href="{{ "images/useit.svg" | relURL }}">
    <link rel="preload" as="image" href="{{ "images/useit-dark.svg" | relURL }}">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossOrigin />
    <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap"
            rel="stylesheet"
    >
    <link rel="canonical" href="{{ .Permalink }}">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="{{ "images/ms-icon-144x144.png" | absURL }}">
    <meta name="theme-color" content="#ffffff">
    <link href="https://fonts.googleapis.com/css?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ "css/prism.css" | absURL }}">
    <link rel="stylesheet" href="{{ "css/a11y-dark.css" | absURL }}">
    <link rel="stylesheet" type="text/css" href="{{ "css/styles.css" | absURL }}">
    <title>
      {{ block "title" . }}
        {{ .Title }} | {{ .Site.Title }}
      {{ end }}
    </title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-QDNQYNPZPF"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-QDNQYNPZPF');
    </script>
    <script>
      function darkTheme(media) {
        if (media === "screen")
          document.documentElement.classList.add('dark');
        else document.documentElement.classList.remove('dark');
        localStorage.setItem('darkTheme', media);
      }
      // Render blocking JS:
      if (window.matchMedia('(prefers-color-scheme: dark)').matches && localStorage.getItem('darkTheme') !== 'none')
        darkTheme("screen");
    </script>
<!--    {{ if .IsHome }}-->
<!--      <link rel="manifest" href="manifest.json">-->
<!--    {{ end }}-->
  </head>
  <body>
    {{ if ne .Type "print-version" }}
      <a href="#main">{{ i18n "skip_to_content" }}</a>
    {{ end }}
    {{ partial "svg.html" . }}
    <div class="wrapper {{ if eq .Type "print-version" }}print-version{{ end }}">
        <header class="intro-and-nav">
          <div>
            <div class="intro">
              <a class="logo" href="{{ .Site.Home.RelPermalink }}" aria-label='{{ .Site.Title }} {{ i18n "start_page" }}'>
                <img class="useit-logo no-border" width="210" height="210" src="{{ "images/staff/sjlogo.png" | relURL }}" alt="">
                <img class="useit-logo-dark no-border" width="210" height="210" src="{{ "images/staff/sjlogo.png" | relURL }}" alt="">
              </a>
              <p class="library-desc">
                {{ "An accessibility review for SJ" | markdownify }}
                {{ if ne .Type "print-version" }}
                  <a class="print" href="{{ "print-version" | absURL }}">
                    <svg viewBox="0 0 35 45" aria-hidden="true" focusable="false">
                      <use xlink:href="#doc"></use>
                    </svg>{{ i18n "print_version" }}
                 {{ end }}
               </a>
              </p>
              {{ if eq .Type "print-version" }}
                <p class="toc-link">
                  <span aria-hidden="true">&#x2193;</span>
                  <a href="#toc">{{ i18n "table_of_contents" }}</a>
                  <span aria-hidden="true">&#x2193;</span>
                </p>
              {{ end }}
              <div data-netlify-identity-button></div>
            </div>
            {{ block "nav" . }}
              <nav id="main-nav" class="patterns">
                <h2 class="vh">{{ i18n "main_navigation" }}</h2>
                <button id="menu-button" aria-expanded="false">
                  <svg viewBox="0 0 50 50" aria-hidden="true" focusable="false">
                    <use xlink:href="#menu"></use>
                  </svg>
                  {{ i18n "menu" }}
                </button>
                {{ $current := . }}
                <div id="main-menu-container" hidden>
                  {{ partial "problems-list-menu.html" . }}
                </div>

              </nav>
            {{ end }}
          </div>
        </header>
      <div class="main-and-footer">
        <div>
          {{ block "main" . }}
          {{ end }}
          <footer>
            <div>
              <label for="themer">
                {{ i18n "dark_theme" }}: <input type="checkbox" id="themer" class="vh">
                <span aria-hidden="true"></span>
              </label>
            </div>
            Powered by <a href="https://thepaciellogroup.github.io/cupper/"><strong>Cupper</strong></a><br>
          </footer>
          <div id="toast-notification" role="alert" hidden></div>
        </div>
      </div>
    </div>
    <script src="{{ "js/prism.js" | absURL }}"></script>
    <script src="{{ "js/dom-scripts.js" | absURL }}"></script>
    <script>
      /* Switch and persist theme */
      (function () {
        function CSSSupported (property, value) {
          var prop = property + ':',
                  el = document.createElement('test'),
                  mStyle = el.style;
          el.style.cssText = prop + value;
          return mStyle[property];
        }

        var checkbox = document.getElementById('themer');

        checkbox.addEventListener('change', function () {
          darkTheme(this.checked ? 'screen' : 'none');
          this.checked
        });

        window.addEventListener('DOMContentLoaded', function () {

            if (window.matchMedia('(prefers-color-scheme: dark)').matches)
              console.log("Dark mode detected!");
            if (localStorage.getItem('darkTheme') === 'screen' || (window.matchMedia('(prefers-color-scheme: dark)').matches && localStorage.getItem('darkTheme') !== 'none')) {
              checkbox.click();
            }
        });
      }());
    </script>
    <script src="{{ "js/J2M.js" | absURL }}"></script>
    <script src="{{ "js/bundle.js" | absURL }}"></script>
    <!--{{ if .Page.IsHome }}
      <script src="{{ "js/service-worker-registration.js" | absURL }}"></script>
    {{ end }}-->
  </body>
</html>
