{{ $statusCounts := dict "new" 0 "completed" 0 "rejected" 0 "tested_ok" 0 "tested_not_ok" 0 "in_progress" 0 }}

{{ range $.Site.Home.Sections }}
  {{ range .Pages }}
    {{ $status := .Params.status }}
    {{ $status := .Params.status }}
    {{ if and $status (isset $statusCounts $status) }}
      {{ $count := add (index $statusCounts $status) 1 }}
      {{ $statusCounts = merge $statusCounts (dict $status $count) }}
    {{ end }}
  {{ end }}
{{ end }}


<div class="expandable-section expandable-filters">
  <h3 style="padding-left: 0; padding-right: 0; padding-bottom: 0;">
    <button aria-expanded="false" data-expands="js-expandable-filters">
      <span>
        <span class="expandable-label" id="filter-label"
          >Filter results by status</span
        >
      </span>
      <svg
        class="expandable-icon"
        aria-hidden="true"
        focusable="false"
        viewBox="0 0 70.866142 70.866141"
      >
        <g transform="translate(0 -981.5)">
          <rect
            style="stroke-width: 0; fill: currentColor"
            ry="5"
            height="60"
            width="9.8985"
            y="987.36"
            x="30.051"
            class="up-strut"
          />
          <rect
            style="stroke-width: 0; fill: currentColor"
            ry="5"
            height="10"
            width="60"
            y="1012.4"
            x="5"
          />
        </g>
      </svg>
    </button>
  </h3>
  <div id="js-expandable-filters" hidden>
    <div class="filter-wrapper">
      <fieldset class="filter-container" aria-labelledby="filter-label">
        <label>
          <input
            type="checkbox"
            id="new_checkbox"
            onclick="toggleVisibility('new')"
            checked
          />
          New ({{ index $statusCounts "new" }})
        </label>
        <label>
          <input
            type="checkbox"
            id="in_progress_checkbox"
            onclick="toggleVisibility('in_progress')"
            checked
          />
          In progress ({{ index $statusCounts "in_progress" }})
        </label>
        <label>
          <input
            type="checkbox"
            id="completed_checkbox"
            onclick="toggleVisibility('completed')"
            checked
          />
          Completed ({{ index $statusCounts "completed" }})
        </label>
        <label>
          <input
            type="checkbox"
            id="rejected_checkbox"
            onclick="toggleVisibility('rejected')"
            checked
          />
          Rejected ({{ index $statusCounts "rejected" }})
        </label>
        <label>
          <input
            type="checkbox"
            id="tested_ok_checkbox"
            onclick="toggleVisibility('tested_ok')"
            checked
          />
          Tested OK ({{ index $statusCounts "tested_ok" }})
        </label>
        <label>
          <input
            type="checkbox"
            id="tested_not_ok_checkbox"
            onclick="toggleVisibility('tested_not_ok')"
            checked
          />
          Tested not OK ({{ index $statusCounts "tested_not_ok" }})
        </label>
      </fieldset>
    </div>
  </div>
</div>

{{ $current := . }}
{{ $priorities := dict "critical" 1 "high" 2 "medium" 3 "low" 4 }}

{{ range $priority, $weight := $priorities }}
  {{ $hasPriority := false }}
  {{ range $.Site.Home.Sections }}
    {{ range .Pages.ByWeight }}
      {{ if eq .Weight $weight }}
        {{ $hasPriority = true }}
      {{ end }}
    {{ end }}
  {{ end }}
  {{ if $hasPriority }}
    <h3>{{ i18n (printf "%s_priority" $priority) }}</h3>
    {{ range $.Site.Home.Sections }}
      <ul aria-label="{{ i18n (printf " %s_priority_issues" $priority) }}">
        {{ range .Pages.ByWeight }}
          {{ if and (eq .Weight $weight) (ne .Params.draft true) }}
            <li class="pattern" data-status="{{ .Params.status }}">
              <a
                href="{{ .RelPermalink }}"
                {{ if eq $current.Permalink .Permalink }}
                  aria-current="page"
                {{ end }}
              >
                <span class="problem-link-text-container">
                  <svg
                    class="bookmark-icon"
                    aria-hidden="true"
                    focusable="false"
                    viewBox="0 0 40 50"
                  >
                    <use xlink:href="#bookmark"></use>
                  </svg>
                  <span class="text">{{ .Title }}</span>
                </span>
                {{ if and .Params.status }}
                  <span class="status">{{ i18n .Params.status }}</span>
                {{ end }}
              </a>
            </li>
          {{ end }}
        {{ end }}
      </ul>
    {{ end }}
  {{ end }}
{{ end }}


<script>
  function toggleVisibility(status) {
    var checkboxId = status + "_checkbox";
    var checkbox = document.getElementById(checkboxId);
    var items = document.querySelectorAll(
      '.pattern[data-status="' + status + '"]',
    );
    items.forEach(function (item) {
      item.style.display = checkbox.checked ? "" : "none";
    });
  }
</script>
