{{ $this := . }}
<ul class="reviewers">
  {{ range site.Data.reviewers }}
  {{ if in $this .id }}
  <li>
    <div class="staff">
      <div class="staff_image">
        <img alt="{{ .name }}" src="{{ site.BaseURL }}images/{{ .img }}">
      </div>
      <div class="staff_text">
        <h3>{{ .name }}</h3>
        <p>
          {{ if eq site.Language.Lang "sv" }}
            {{ .titleSv }}
          {{ end }}
          {{ if eq site.Language.Lang "en" }}
            {{ .titleEn }}
          {{ end }}
        </p>
        <p><a href="mailto:{{ .email }}">{{ .email }}</a></p>
        <p><a href="tel:{{ .phone }}">{{ .phone }}</a></p>
        <div class="certification_logo">

          {{ if eq .certification "CPWA" }}
          <img alt="Certified Professional in Web Accessibility by International Association of Accessibility Professionals (IAAP)" src='{{ "images/IAAP_CPWA.jpg" | relURL }}'>
          {{ end }}
          {{ if eq .certification "CPACC" }}
          <img alt="Certified Professional in Accessibility Core Competencies by International Association of Accessibility Professionals (IAAP)" src='{{ "images/IAAP_CPACC.jpg" | relURL }}'>
          {{ end }}
          {{ if eq .certification "WAS" }}
          <img alt="Certified Web Accessibility Specialist by International Association of Accessibility Professionals (IAAP)" src='{{ "images/IAAP_WAS.jpg" | relURL }}'>
          {{ end }}
        </div>
      </div>
    </div>
  </li>
  {{ end }}
  {{ end }}
</ul>
