{{ define "title" }}
    {{ i18n "wcag_summary" }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<main id="main">
    <nav aria-label='{{ i18n "quick_navigation" }}'><a href="../summary/">{{ i18n "go_back_to_start" }}</a></nav>
    <h1>
        Affected SKAPA components
    </h1>
    <ul class="patterns-list">
        {{ range .Data.Pages }}
            <li>
                <a class="wcag-link" href="{{ .Permalink }}">
                    <span>
                        <svg class="bookmark" aria-hidden="true" viewBox="0 0 40 50" focusable="false">
                        <use xlink:href="#bookmark"></use>
                    </svg>
                    {{ .Title }}
                    </span>
                    <span class="number-issues">{{ len $.Page.Data.Pages }} {{ i18n "problems" }}</span>
                </a>
            </li>
        {{ end }}
    </ul>
</main>
{{ end }}