{{ $this := "" }}
{{ if eq $.Page.Type "wcag" }}
  {{ $JSON := $.Site.Data.wcag }}
  {{ range $JSON }}
    {{ if eq $.Page.Title .ref_id }}
      {{ $this = . }}
      <li>
        <h2>
          <a href="{{ $.Page.Permalink }}" class="wcag-link">
            <span>
              <svg
                class="bookmark"
                aria-hidden="true"
                viewBox="0 0 40 50"
                focusable="false"
              >
                <use xlink:href="#bookmark"></use>
              </svg>
              {{ $this.ref_id }} {{ $this.title }} ({{ $this.level }})
            </span>
            <span class="number-issues"
              >{{ len $.Page.Data.Pages }} {{ i18n "problems" }}</span
            >
          </a>
        </h2>
      </li>
    {{ end }}
  {{ end }}
{{ else if eq $.Page.Type "en301549" }}
  {{ $JSON := $.Site.Data.en301549 }}
  {{ range $JSON }}
    {{ if eq $.Page.Title .Number }}
      {{ $this = . }}
      <li>
        <h2>
          <a href="{{ $.Page.Permalink }}" class="wcag-link">
            <span>
              <svg
                class="bookmark"
                aria-hidden="true"
                viewBox="0 0 40 50"
                focusable="false"
              >
                <use xlink:href="#bookmark"></use>
              </svg>
              {{ $this.Number }}
              {{ $this.Name }}
            </span>
            <span class="number-issues"
              >{{ len $.Page.Data.Pages }} {{ i18n "problems" }}</span
            >
          </a>
        </h2>
      </li>
    {{ end }}
  {{ end }}
{{ end }}
