{{ define "title" }}
    {{ i18n "wcag_summary" }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}
{{ $JSON := $.Site.Data.wcag }}
{{ $this := "" }}

<main id="main">
    <nav aria-label='{{ i18n "quick_navigation" }}'><a href='{{ ref $.Page "summary" }}'>{{ i18n "go_back_to_start" }}</a></nav>
    <h1>
        {{ i18n "wcag_summary" }}
    </h1>
    <div class="h2-container">
        <h2 id="failed_criteria" tabindex="-1">{{ i18n "failed_criteria" }}</h2><a href="#failed_criteria" aria-label='{{ i18n "this_section" }} ({{ i18n "failed_criteria" }})'><svg aria-hidden="true" class="link-icon" viewBox="0 0 50 50" focusable="false"> <use xlink:href="#link"></use> </svg></a>
    </div>
    <ul class="patterns-list">
        {{ range .Data.Pages }}
            {{ .Render "li"}}
        {{ end }}
    </ul>

    <div class="expandable-section margin-top">
        <h2>
            <button aria-expanded="false" data-expands="js-expandable-passed-criteria" >
                <span class="expandable-label">{{ i18n "passed_or_not_applicable" }}</span>
                <svg aria-hidden="true" focusable="false" viewBox="0 0 70.866142 70.866141">
                    <g transform="translate(0 -981.5)">
                        <rect style="stroke-width:0;fill:currentColor" ry="5" height="60" width="9.8985" y="987.36" x="30.051" class="up-strut" />
                        <rect style="stroke-width:0;fill:currentColor" ry="5" height="10" width="60" y="1012.4" x="5"/>
                    </g>
                </svg>
            </button>
        </h2>
        <div id="js-expandable-passed-criteria" hidden>
            <ul>
                {{ range $JSON }}
                {{ $this = . }}
                {{ $hasIssues := false }}
                {{ range $.Data.Pages }}
                {{ if eq .Title $this.ref_id }}
                {{ $hasIssues = true }}
                {{ end }}
                {{ end }}
                {{ if eq $hasIssues false }}
                {{ if ne $this.level "AAA" }}
                <li>{{ $this.ref_id }} {{ $this.title }} ({{ $this.level }})</li>
                {{ end }}
                {{ end }}

                {{ end }}

            </ul>
        </div>
    </div>

</main>
{{ end }}